# dev
.yarn/
!.yarn/releases
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# deps
node_modules/

# env files (ensure sensitive data is excluded)
.env
.env.production

# build output (Vercel handles this)
dist/
.next/

# logs (ignore log files from Vercel or local dev)
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Vercel specific (deployment related)
.vercel/

# misc
.DS_Store
